body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.contenedorInfoGlamping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px
}

.navBar{
    width: 100%;
}

.contenedorDetalleGlamping{
    margin: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;    
    justify-content: center;
    align-items: center;
    font-family: Arial;
    width: 100%;
    height: 100%;
    flex-wrap:nowrap;

}
.nombreGlampingSuperior{
    display: flex;
    width: 100%;
    margin-left: 5px;

}
.barraSuperior {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
}


.barraSuperiorDerecha{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.barraSuperiorDerecha >*{
    padding: 0 20px 0 20px;
}

.contenedorInfoBarraSuperior{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 10px;
    color: gray;
    margin-bottom: 5px;
    
}

.contenedorInfoBarraSuperior >*{
    padding: 5px;
}

.contenedorInfoBarraSuperior:hover {
    cursor: pointer;
    background-color: rgb(245, 242, 242);  
}

.nombreGlampingInferior{
    display: none;
}

.barraMedia{
    width: 100%;
    height: auto;
    
}

.ubicacionSuperior{
    margin-bottom: 10px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset:3px;
    color: gray;
    font-size: 18px;
    font-weight: 600;
}

.ubicacionInferior{
    display: none;
}
.contenedorFotoDetalleMax{
    display: none;
}

.contenedorImagenes{
    position: relative;
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 5px; 
    border-radius: 15px;
    overflow: hidden;
}

.contenedorImagenes div:nth-child(1) {
    
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }

.totalFotos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:90%;
    right: 20px;
    background-color:white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    color: black;
    opacity: 0.9;
    font-weight: 600;
}

.fotoDetalle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
    cursor: pointer;
}

.fotoDetalle:hover {
    filter: brightness(80%); /* Cambiar el brillo al 90% cuando se pasa el mouse */
}

.contenedorInformacionYFiltros{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: left;
    font-family: Arial;
    background-color: white;
    
}

.contenedorInformacion{
    width:70%;
    padding: 0 20px 0 20px;
}

.descripcionLugar{
    padding: 10px 0 10px 0;
    border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray;
    margin-bottom: 10px;
}


.descripcionLugarAbierto{
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
    margin-bottom: 10px;
}

.descripcionLugar span{
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset:3px;
    font-weight: 600;
}

.descripcionLugar h3{
    height: 20px;
    margin: 0;
}

.botonAbrirInfo{
    cursor: pointer;
}

.contenedorFiltrosViaje{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 20%;
    border-radius: 15px;
    min-width: 200px;
    height: 400px;
    padding: 24px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
}

.fondoContenDescrClose{
    display: none;
}
.fondoContenDescrOpen{
    display: flex;
    top: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}
.contenedorDescripcion{
    display: flex;
    flex-direction: column;
    position:fixed;
    justify-content: start;
    width: 50%;
    height: 95vh;
    background-color: white;
    border: 1px solid;
    border-radius: 15px;
    top: 10px;
}

.contenedorDescripcionSuperior{
    display: flex;
    height: auto;
    margin:25px 0 0 25px;
}

.contenedorDescripcionSuperior:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    cursor: pointer;
    border-radius: 50%;
}

.contenedorDescripcionSuperior:nth-child(1):hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.contenedorDescripcionInferior{
    display: flex;
    margin: 25px;
    text-align: justify;
}

@media (max-width: 744px) {
    
    .contenedorInfoGlamping{
        margin:0;
    }

    .navBar{
        display: none;
    }

    .nombreGlampingSuperior{
        display: none;
    }

    .barraMedia{
        min-width: 350px;
        height: 300px;
        padding: 0;
    }

    .contenedorImagenes{
        display: none;
    }

    .ubicacionSuperior{
        display: none;
    }

    .ubicacionInferior{
        display: flex;
    }

    .contenedorFotoDetalleMax{
        display: flex;
        position: relative;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }

    .favoritoFotoDetalleMax{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index:1;
        top: 20px;
        right: 20px;
        font-size: 25px;
        border-radius: 15px;
        background-color: white;
        width: 35px;
        height: 35px;
    }

    .favoritoFotoDetalleMax:hover{
        cursor: pointer;
        color:red;
        background-color: rgb(245, 242, 242);  
    }

    .compartirFotoDetalleMax{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index:1 ;
        top: 20px;
        right: 75px;
        font-size: 22px;
        border-radius: 15px;
        background-color: white;
        width: 35px;
        height: 35px;
    }
    
    .compartirFotoDetalleMax:hover{
        cursor: pointer;
        background-color: rgb(245, 242, 242);  
    }

    .totalFotos{
        top:85%;
        right: 15px;    
    }

    .iconoCorazon{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 10px;
        top: 10px;
        right: 20px; 
        background-color:rgb(242, 241, 241); 
        font-size: 18px; 
    }

    .iconoCorazon:hover{
        color:red;
     }

    .iconoCompartir{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 10px;
        top: 10px;
        right: 70px; 
        background-color:rgb(242, 241, 241);  
        font-size: 18px; 
    }

    .iconoCompartir:hover{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
     }

     .iconoRegresar{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 10px;
        top: 10px;
        left: 15px; 
        background-color:rgb(242, 241, 241); 
        font-size: 28px; 
    }

    .iconoRegresar:hover{
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
     }
     
    .FotoDetalleMax {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .nombreGlampingInferior{
        display: flex;
        flex-direction: column;
        height: auto;
        margin:0;   
        padding-left: 20px;
        
    }

    .nombreGlampingInferior :nth-child(2){
        font-weight: 600;
        color: gray;           
    }

    .contenedorDetalleGlamping{
        margin-top: 0;  
    }

    .contenedorInfoBarraSuperior{
        display: none;
    }

    .alto{
        grid-row: span 1;
    }

    .contenedorImagenes {
        grid-template-columns: 1fr 1fr;
    }

    .contenedorFiltrosViaje{
        display: none;
    }

    .contenedorInformacion{
        width:100%;
    }

    .contenedorInformacion h2 {
        display: none;
    }

    .descripcionLugar {
        text-align: justify;
        padding-top: 10px;
    }

    .contenedorDescripcion{
        width: 90%;
    }


}