.contenedorTarjeta{
    display: flex;
    flex-direction: column;
    Justify-content: center;
    align-items: left;
    background-color: white;
    cursor: pointer;
    width: 300px;
    height: 360px;
    margin: 20px;     
}

.contenedorImagen{
    position: relative;
    width: 100%;
    height: 75%;
    margin: 0;
}

.foto{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}

.Categoria{
    position: absolute;
}

.favorito{
    display:flex;
    Justify-content: center;
    align-items: center;
    position: absolute;
    top:15px;
    right:15px;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 21px;
}

.favorito:hover{
   color:red;
}

.flecha-izquierda-foto{
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 20px;
    top: 50%;
    left: 10px;
    z-index: 0;
    background-color: white;
    border-radius: 50%;
}

.flecha-derecha-foto {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 28px;
    height: 28px;
    font-size: 20px;
    top: 50%;
    right: 10px;
    z-index: 0;
    background-color: white;
    border-radius: 50%;
}

.flecha-izquierda-foto:hover,
.flecha-derecha-foto:hover {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Arial';
    margin: 10px 0 0 0;
    height: 25%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.informacionSuperior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: 600;
    padding: 3px;
    font-size: 14px;
}

.informacionMedia{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: gray;
    
}

.informacionMedia > *{
    padding: 3px 0 3px 3px;
}

.informacionBaja{
    display: flex;
    flex-direction: column;
    padding: 3px;
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 744px) {

    .contenedorTarjeta {
        display: flex;
        flex-direction: column;
        min-width: 330px;
        min-height: 435px; 
    }

    .contenedorImagen{
        height: 80%;

    }
    .informacion{
        height: 20%;
    }
}